$wrapper-size: 960px;
$wrapper-adapt: 100%;
$default-border: 1px solid black;
$offset: 30px;

.column-common {
  box-shadow: 0 0 13px #333;
  display: inline-block;
  vertical-align: top;
  margin: $offset / 2;
}

.wrapper {
  width: $wrapper-size;
  margin: 0 auto;
}

.column-one {
  @extend .column-common;
  width: $wrapper-size - $offset;
}

.column-big {
  @extend .column-common;
  width: ($wrapper-size / 2) - $offset;
}

.column-big-art {
  @extend .column-common;
  width: ($wrapper-size / 2.5) - $offset;
  background: yellow;
}

.column-middle {
  @extend .column-common;
  width: ($wrapper-size / 3) - $offset;
  background: green;
}

.column-small {
  @extend .column-common;
  width: ($wrapper-size /4) - $offset;
  background: gold;
}