{% extends 'main.html' %}

{% block title %}Новостной портал{% endblock %}

{% block header %}
<div class="blog-header">
    <h1 class="blog-title">Учебный новостной сайт</h1>

    <p class="lead blog-description">Курс PHP-2</p>
</div>
{% endblock %}

{% block content %}
{% for article in news %}
<div class="blog-post">

    <h2 class="blog-post-title">{{ article.title }}</h2>

    <p>Автор: {{ article.author.author | default('Нет автора') }}</p>

    <p>{{ article.lead | slice(0,200) }} <a href="/controllers/news/article/?id={{article.id}}">Читать подробнее</a></p>
</div><!-- /.blog-post -->
{% endfor %}
{% endblock %}