{% extends 'main.html' %}

{% block title %}Новостной портал{% endblock %}

{% block header %}
<div class="blog-header">
    <h1 class="blog-title">Учебный новостной сайт</h1>

    <p class="lead blog-description">Курс PHP-2</p>
</div>
{% endblock %}

{% block content %}

{% set articles =  attribute(news | batch(5), page-1) %}

{% for article in articles %}
<div class="blog-post">

    <h2 class="blog-post-title">{{ article.title | capitalize }}</h2>

    <p>Автор: {{ article.author.author | default('Нет автора') }}</p>

    <p>{{ article.lead | slice(0,200) }} <a href="/controllers/news/article/?id={{article.id}}">Читать подробнее</a></p>
    <p></p>
</div>
{% else %}
    <p>Пока статей нет!<p>
{% endfor %}
{% endblock %}
    {% block nav %}
    <nav>
        <ul class="pager">
            {% import 'pagination.html' as pagination %}
                {{ pagination.pagination(news | batch(5) | length, page) }}
        </ul>
    </nav>
    {% endblock %}